.relative{
    background-color: chocolate;
    position: relative;
    top: 0px;
    left:20px;
}
.absolute{
    background-color: blueviolet;
    position: absolute;
    top: 0px;
    left:20px;
}
.fixed{
    background-color: burlywood;
    position: fixed;
    bottom: 0;
    right:0;
}
.sticky{
    background-color: yellow;
    position: sticky;
    top:0px;
}