.box1 {
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-left: 20px;
}
.box2 {
    /* padding: 20px; */
    padding: 10px 20px;
}
.box3 {
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 40px;
}

.box4 {
    margin: 10px 20px 30px 40px;
}
.mix-borders {
    /* border: 1px solid rgb(210, 210, 210); */
    border-color: brown;
    border-width: 5px;
    border-style: solid dashed dotted double;
    border-radius: 15px;
}
.circle-container{

    background-color: cadetblue;
    border-radius: 50%;
    height: 35px;
    width: 35px;
}